/portal/node_modules
/portal/public/hot
/portal/storage/app/*
/portal/storage/cms/*
/portal/storage/framework/cache/data/*
/portal/storage/framework/sessions/*
/portal/storage/framework/views/*
/portal/storage/*.key
/portal/vendor
/portal/.idea
/portal/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/portal/.env
/portal/.config