<div class="row">
	<div class="footer clearfix top15 col-xs-12 col-sm-12 col-md-12">
		<div class="col-md-8 col-md-offset-3">
	    	<div class="col-md-4 text-center">
				<h6  style="font-weight: bold;">ABOUT US</h6>
				<p><a href="{{ 'contact-us'|page }}">Contact Us</a></p>
				<p><a href="{{ 'store-locator'|page }}">Store Locations</a></p>
				<p><a href="{{ 'careers'|page }}">Careers</a></p>
	    	</div>
	    	<div class="col-md-4 text-center">
	    		<h6 style="font-weight: bold;">TERMS &amp; CONDITIONS</h6>
	    		<p><a target="_blank" href="https://www.fusionrewards.com.au">Fusion Rewards Program</a></p>
	   			<p><a href="{{ 'terms'|page }}">Website Terms Of Use</a></p>
	    		<p><a href="{{ 'privacy'|page }}">Privacy Policy</a></p>
	    	</div>	    	
	    </div>  
    </div> 
</div>     

        
